<!-- about -->
<div id="about">
    <div class="container charts">
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-3 col-xs-6">
                    <div class="chart" data-percent="90">90% Angular</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="chart" data-percent="80">80% jQuery</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="chart" data-percent="90">90% JS</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="chart" data-percent="90">90% PHP</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-sm-3 col-xs-6">
                    <div class="chart" data-percent="90">90% Drupal</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="chart" data-percent="70">70% Laravel</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="chart" data-percent="80">80% HTML</div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="chart" data-percent="80">80% LESS</div>
                </div>
            </div>
        </div>
    </div>
</div>