<!-- main info -->
<div id="main" class="jumbotron">
    <div class="container">
        <img src="images/va.png" class="img-responsive img-circle main-photo" alt="avatar"/>

        <div class="promo-description">
            <h2>Vladimir Avgustov</h2>
            <h4>Ruby on Rails Developer</h4>
        </div>

        <div class="promo-links">
            <a href="#about" class="btn btn-info about-me" role="button">About me</a>
            <a href="#contact" class="btn btn-success hire-me" role="button">Hire me</a>
        </div>
    </div>
</div>