<!-- work -->
<div id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">My latest work</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <ul class="grid cs-style-1">
                    <li>
                        <figure>
                            <img src="images/portfolio/openme.png" class="img-thumbnail" alt="Open Me">
                            <figcaption class="hidden-xs hidden-sm">
                                <h3>Open Me</h3>
                                <span>Browse cards from our hand-curated card boutique featuring Threadless artists from around the globe. Choose a hilarious punchline, write a personal message and upload a personal photo.</span>
                                <a href="http://www.openme.com" class="btn btn-info" target="_blank">Take a look</a>
                            </figcaption>
                        </figure>
                        <a class="visible-xs visible-sm text-center" href="http://www.openme.com" target="_blank">www.openme.com</a>
                    </li>
                    <li>
                        <figure>
                            <img src="images/portfolio/idealliance.png" class="img-thumbnail" alt="IDEAlliance">
                            <figcaption class="hidden-xs hidden-sm">
                                <h3>IDEAlliance</h3>
                                <span>IDEAlliance is a global community of integrated media creators, producers, publishers, distributors, and their service providers, material suppliers, and technology partners.</span>
                                <a href="http://www.idealliance.org" class="btn btn-info" target="_blank">Take a
                                    look</a>
                            </figcaption>
                        </figure>
                        <a class="visible-xs visible-sm text-center" href="http://www.idealliance.org" target="_blank">www.idealliance.org</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6">
                <ul class="grid cs-style-1">
                    <li>
                        <figure>
                            <img src="images/portfolio/changemakers.png" class="img-thumbnail" alt="Changemakers">
                            <figcaption class="hidden-xs hidden-sm">
                                <h3>Changemakers</h3>
                                <span>Changemakers community's mission is to grow new ideas through transparency and collaboration, a process of Open Growth.</span>
                                <a href="http://www.changemakers.com" class="btn btn-info" target="_blank">Take a
                                    look</a>
                            </figcaption>
                            <a class="visible-xs visible-sm text-center" href="http://www.changemakers.com" target="_blank">www.changemakers.com</a>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="images/portfolio/community.png" class="img-thumbnail" alt="IDEAlliance communities">
                            <figcaption class="hidden-xs hidden-sm">
                                <h3>IDEAlliance Intranet</h3>
                                <span>Intranet collaboration software for IDEAllince.</span>
                                <a href="http://communities.idealliance.org/" class="btn btn-info" target="_blank">Take a
                                    look</a>
                            </figcaption>
                            <a class="visible-xs visible-sm text-center" href="http://communities.idealliance.org/" target="_blank">communities.idealliance.org</a>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>